body {
  font-family: 'Arial', sans-serif;
  background-color: whitesmoke;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.App-header {
  background-color: rgb(127, 181, 46);
  min-height: 2cm;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(20px + 2vmin);
  color: black;
}

.heading {
  margin: 0;
  padding: 0 1cm;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: left;
  padding: 0 1cm;
  justify-content: flex-end;
  height: 10%;
  margin: 0;
  transition: max-height 0.5s ease;
  max-height: 0;
  overflow: hidden;
}

.nav-links.active {
  max-height: 30vh;
}

.nav-links li {
  margin-right: 1cm;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  padding: 0.5cm;
  border-radius: 5px;
}

.nav-links a.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.hamburger-menu {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 1cm;
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(127, 181, 46);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hamburger-menu {
    display: block;
  }
}
